/* ================= General ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Gallient';
  src: url(../fonts/Gallient.ttf);
}

:root{
  --logo-font: 'Gallient';
  --main-font: 'Poppins', sans-serif;
  --container: 40px 50px;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

li{
  list-style: none;
}

body{
    background-color: #fcf8f3;
}

/* ================= Header ================= */

.header{
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  padding: var(--container);
  z-index: 50;
  background-color: #fcf8f3;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.nav-menu{
  display: flex;
  column-gap: 55px;
}

.logo a,
.user span a,
.nav-menu li a{
  color: #000
}

.logo{
  font-family: var(--logo-font);
  font-size: 21px;
  cursor: pointer;
  margin-right: 125px;
}

.nav-menu,
.user span{
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: var(--regular);
  cursor: pointer;
}

.logout{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.logout i{
  cursor: pointer;
}

/* ================= Home ================= */

.main{
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}

.main-container{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.main-container span{
  display: block;
  width: 200px;
  height: .5px;
  background-color: #000;
}

.hours,
.main-footer,
.main-container p{
  font-family: var(--main-font);
  font-size: 12px;
}

.hours p{
  text-align: right;
}

.welcome{
  position: relative;
}

.welcome h1{
  font-family: var(--logo-font);
  font-weight: var(--regular);
  font-size: 150px;
}

.welcome p{
  position: absolute;
  top: 50px;
  right: 0;
}

.main-container img{
  position: absolute;
  width: 335px;
  bottom: 0;
  left: 39%;
}

.main-footer{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* ================= Intro ================= */

.intro{
  width: 100%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.intro-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 190px;
  margin-top: 160px;
  position: relative;
}

.intro-container img{
  align-self: flex-end;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 27vw;
}

.text-container p{
  font-family: var(--main-font);
  font-weight: var(--regular);
  font-size: 13px;
}

.sub-head{
  font-family: var(--logo-font);
  font-size: 40px;
}

.overlap-img{
  position: absolute;
  width: 240px;
  left: 400px;
  top: 180px;
}

.book-btn{
  border: .5px solid #000;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 18px;
}

hr{
  margin-top: 100px;
  margin-bottom: 40px;
}

.intro-footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info-container h1{
  font-family: var(--logo-font);
  font-size: 25px;
  margin-bottom: 20px;
}

.info-container p{
  font-family: var(--main-font);
  font-weight:var(--light);
  font-size: 13px;
}

.info-container span{
  font-weight: var(--regular);
}

.icons i{
  font-size: 22px;
  margin-left: 13px;
  cursor: pointer;
}

/* ================= Login ================= */

.login{
  width: 100%;
  height: 100vh;
  padding: var(--container);
}

.login-container{
  display: flex;
  column-gap: 100px;
  align-items: center;
}

.login-img{
  width: 53%;
  height: 90vh;
  overflow: hidden;
  background-color: #000;
}

.login-img img{
  height: 100%;
}

.login-container h1{
  font-family: var(--logo-font);
  font-size: 35px;
  font-weight: var(--regular);
  margin-bottom: 25px;
}

.login-container form{
  width: 500px;
}

.user-container{
  margin-bottom: 20px;
}

.user-container p{
  font-family: var(--main-font);
  margin-bottom: 10px;
  font-size: 13px;
}

.user-container input{
  width: 80%;
  border: none;
  outline: none;
  border-bottom: .5px solid;
  background-color: transparent;
  padding: 5px;
  padding-left: 0;
  font-weight: var(--light);
}

.login-container button{
  border: .5px solid #000;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 20px;
}

.link-container{
  display: flex;
  align-items: center;
  margin-top: 35px;
}

.link-container p{
  font-family: var(--main-font);
  font-weight: var(--light);
  font-size: 12px;
}

.link-container p span{
  font-weight: var(--medium);
  cursor: pointer;
}

input[type="text"]
{
    font-family: var(--main-font);
    font-size: 13px;
}

.errors{
  font-family: var(--main-font);
  color: orange;
  font-size: 11px;
}

/* ================= Events ================= */

.time-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 89%;
}

textarea{
  width: 80%;
  border: .5px solid;
  outline: none;
  background: transparent;
  padding: 10px;
  height: 60px;
  font-family: var(--main-font);
  font-weight: var(--light);
}

input[type=date]:invalid::-webkit-datetime-edit {
  font-family: var(--main-font);
  color: #999;
}

input[type="date"]
{
    font-family: var(--main-font);
    font-size:13px;
}

input[type="time"]
{
    font-family: var(--main-font);
    font-size: 13px;
}

::placeholder{
  font-family: var(--main-font);
  color: #999;
}

/* ================= User ================= */

.user-page{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.users-container{
  display: flex;
  align-items: flex-start;
  column-gap: 140px;
}

.users-container p{
  font-family: var(--main-font);
  font-size: 13px;
}

.welcome-message h1{
  font-family: var(--logo-font);
  font-weight: var(--regular);
  font-size: 55px;
}

.time-box{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.requests h1,
.reservations h1{
  font-family: var(--main-font);
  font-weight: var(--medium);
  font-size: 17px;
  margin-bottom: 20px;
}

.requests i,
.reservations i{
  cursor: pointer;
}

.description {
  font-weight: var(--light);
  opacity: 60%;
  font-size: 15px;
}

.time-flex{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.for-margin{
  margin-bottom: 25px;
}

/* ================= Events ================= */

.events{
  width: 100%;
  padding-top: 180px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  display: grid;
  gap: 150px;
  grid-template-columns: 1fr 1fr 1fr
}

.events-container{
  display: flex;
  column-gap: 30px;
}

.events-img-container{

  overflow: hidden;
}

.events-img-container img{
  height: 100%;
}

.events-info-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.events-info-container p{
  font-family: var(--main-font);
  font-size: 13px;
}

.events-info-container h1{
  font-family: var(--logo-font);
  font-weight: var(--regular);
}

.time-info{
  display: flex;
  column-gap: 20px;
}

.events-info-container button{
  border: .5px solid #000;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 15px;
  margin-top: 20px;
}

